<html>
  <head>
    <title>Glorias Blog</title>
  </head>
  <body>
  <h1>Django Workshop</h1>
  <h2>Anleitung für eine Website</h2>
    <p>Hallo, heute lernen wir eine Website zu erstellen.</p>
    <em> Das ist sehr wichtig. </em></br>
    <strong> that's really cool! </strong>
    <p>It works!</p>
    <a href="https://tutorial.djangogirls.org/en/html/">Hier ist die Anleitung</a>
    <ul><li>Start: 9:30 Uhr</li><li>Pause: 13.00 Uhr</li><li>Ende: 17 Uhr</li>

      <div>
        <h1><a href="/">Django Girls Blog</a></h1>
      </div>
        {% for post in posts %}
        <div>
          <p>published: {{ post.published_date }}</p>
          <h1>{{ post.text|linebreaksbr }}</p>
        </div>
      {% endfor %} 

  <!--<div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>-->
    </body>
</html>
